<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>
    Hello world!
    <span th:text="#{welcome.message}"></span>
</h1>

<p th:text="|The time on the server is ${serverTime}.|">The time on the server is ${serverTime}.</p>

<div th:text="${session.userInfo.userId}" th:unless="${session == null}">${userInfo.userId}</div>
<div th:text="${session.userInfo.userName}" th:unless="${session == null}">${userInfo.userName}</div>
</body>
</html>