<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="/js/jQuery-3.7.1.min.js"></script>
<body>
<h2>Spring Form</h2>
<form action="result.html" th:action="@{/register}" th:object="${member}" method="POST">
    <table>
        <tr>
            <td>패스워드</td>
            <td>
                <input type="password" name="password" th:field="*{password}" />
                <font color="red">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password의 에러 메시지</span>
                </font>
            </td>
        </tr>
    </table>

    <button name="register" type="submit">등록</button>
</form>
</body>
</html>