<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<script src="/js/jQuery-3.7.1.min.js"></script>
<body>
<h3>MODIFY</h3>

<form id="member" action="success.html" th:action="@{modify}" th:object="${member}" method="POST">
    <input type="hidden" name="userNo" th:field="*{userNo}" />

    <table>
        <tr>
            <td>userid</td>
            <td>
                <input type="text" name="userId" th:field="*{userId}" />
            </td>
            <td>
                <font color="red">
                    <span th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId의 에러 메시지</span>
                </font>
            </td>
        </tr>
        <tr>
            <td>username</td>
            <td>
                <input type="text" name="userName" th:field="*{userName}" />
            </td>
            <td>
                <font color="red">
                    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName의 에러 메시지</span>
                </font>
            </td>
        </tr>
        <tr>
            <td>auth - 1</td>
            <td>
                <select th:field="*{auth}">
                    <option value="">===선택해 주세요===</option>
                    <option value="ROLE_USER">사용자</option>
                    <option value="ROLE_MEMBER">회원</option>
                    <option value="ROLE_ADMIN">관리자</option>
                </select>
            </td>
            <td>
                <font color="red">
                    <span th:if="${#fields.hasErrors('auth')}" th:errors="*{auth}">auth의 에러 메시지</span>
                </font>
            </td>
        </tr>
    </table>

    <div>
        <input type="submit" value="Submit" />
    </div>

    <a href="list.html" th:href="@{list}">List</a>
</form>
</body>
</html>