<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js sample</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <input v-model="findWord">
            <ul>
                <li v-for="item in findItems">{{ item }}</li>
            </ul>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    findWord: '',
                    items: ['설악산','한라산','북한산','백두산','지리산']
                },
                computed: {
                    findItmes: function() {
                        if (this.findWord) {
                            return this.items.filter(function(value) {
                                return (value.indexOf(this.findWord) > -1);
                            }, this);
                        } else {
                            return this.items;
                        }
                    }
                }
            })
        </script>
    </body>
</html>