<html>
    <head>
        <meta charset="UTF-8">
        <title>Vue.js sample</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <label>
                <input type="checkbox" v-model="isOK">변경
            </label>
            <transition>
                <p v-if="isOK">표시/비표시 애니메이션</p>
            </transition>
        </div>

        <script>
            new Vue({
                el: '#app',
                data: {
                    isOK: false
                }
            })
        </script>
    </body>
</html>